* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}
html {
  font-size: 62.5%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #4d4d4d;
}

.width-max {
  width: 100%;
}
/* positions */
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.absolute-cover {
  width: 0;
  top: 0;
  bottom: 0;
}
.pos-fixed {
  position: fixed;
}

/* colors */
.white-t {
  color: #fff;
}
.white-bg {
  background-color: #fff;
}
.black-bg {
  background-color: #000;
}

h1 {
  font-size: 4rem;
  text-align: center;
}
h2 {
  font-size: 3.5rem;
}
p,
a {
  font-size: 2rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

/* paddings  */
.p-s {
  padding: 2rem;
}
.p-xs {
  padding: 1rem;
}

/* margin */
.m-s {
  margin: 2rem;
}
.m-t-s {
  margin-top: 2rem;
}

/* radius */
.radius-left-side {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.radius-right-side {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* flexbox */
.flex-default {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-evenly {
  justify-content: space-evenly;
}
.flex-align-start {
  align-items: start;
}
.flex-align-center {
  align-items: center;
}
.flex-align-end {
  align-items: end;
}
.self-align-end {
  align-self: end;
}
.self-align-center {
  align-self: center;
}
.self-justify-end {
  justify-self: end;
}
/* gaps */
.gap-xl {
  gap: 10rem;
}
.gap-x {
  gap: 8rem;
}
.gap-l {
  gap: 6rem;
}
.gap-m {
  gap: 4rem;
}
.gap-s {
  gap: 2rem;
}
.gap-xs {
  gap: 1rem;
}

/* navbar */
nav {
  position: fixed;
  padding: 2rem 4rem;
  transition: background-color 0.5s ease-in;
  z-index: 999;
}

.nav-logo {
  width: 12rem;
  object-fit: contain;
}

.nav-menu-container {
  border: none;
  width: 3.5rem;
  transform: rotate(-45deg);
  background-color: transparent;
  cursor: pointer;
}

.nav-menu-line {
  width: 3.5rem;
  height: 0.2rem;
  margin: 0;
  border-radius: 10px;
  background-color: #fff;
}
.nav-menu-line-short {
  width: 2.5rem;
  transition: all 0.2s ease;
  justify-self: start;
}
.nav-menu-line-filler {
  width: 0;
  background-color: #1c7ed6;
  transition: all 0.5s ease;
}
.nav-menu-active {
  background-color: #c0eb75;
}

.nav-menu-container:hover .nav-menu-line .nav-menu-line-filler {
  width: 100%;
}
.nav-scroll-shadded {
  background-color: rgba(0, 0, 0, 0.4);
}
/* menu */
.menu-list {
  z-index: 9999;
  max-width: 50rem;
  top: 115px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateX(-500px);
  transition: transform 0.5s ease;
}
.menu-list-revealed {
  transform: translate(0);
}
.menu-list ul {
  height: 100%;
}
.menu-list ul li a {
  font-size: 5rem;
  color: #fff;
}

/* main */
main {
  width: 100%;
  height: 100%;
  z-index: 998;
}

/* header */
header {
  width: 100%;
  height: 80rem;
  background-position: center;
  background-size: cover;
  /* filter: blur(3px); */
}

header img {
  width: 100%;
}
/* footer */
footer {
  background-color: #263238;
  width: 100%;
  padding: 4rem 2rem;
}
.footer-right li {
  list-style: none;
}
.footer-right li a {
  text-decoration: none;
  color: white;
}
